.table thead tr {
    background-color: #006699;
    color: white;
}

.table tbody tr {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #C4EBFC;
}

.table tbody tr.active {
    color: #289738;
    font-weight: bold;
}

.table tbody tr.cancelled {
    color: #cb3734;
}
