<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Confirmation page for contact form
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Thank You{% endblock %}{% endblock %}
{% block page-content %}

    <div class="text-center top-spacer">
        <p>Thank you for contacting us, we will get back to as soon as possible.</p>
    </div>

{% endblock %}
