<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Confirmation page after activating account
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Account Activated{% endblock %}{% endblock %}
{% block page-content %}

    <div class="text-center top-spacer">
        <p>Your account has been activated. You can now <a href="{% url 'login' %}">login</a>.</p>
    </div>

{% endblock %}
