<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Advise user account activation required after registering
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Account Activation{% endblock %}{% endblock %}
{% block page-content %}

    <div class="text-center top-spacer">
        <h4>Almost Done!</h4>
        <p>You must verify your email address to activate your account.</p>
        <p>Check your email for the activation link.</p>
    </div>

{% endblock %}
