<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Shaun O'Malley
    Description: Confirmation of log out
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Logged Out{% endblock %}{% endblock %}
{% block page-content %}

    <p class="top-spacer text-center">Successfully logged out.</p>

{% endblock %}
