<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Trigger password reset
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Password Reset{% endblock %}{% endblock %}
{% block page-content %}

    <div class="top-spacer">
        {% load crispy_forms_tags %}
        <form class="validated-form" method="post">
            {% crispy form %}
            <button type="submit" class="btn btn-primary load-after-click">Reset Password</button>
        </form>
    </div>

{% endblock %}
