<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Confirmation of email sent for password reset
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Password Reset{% endblock %}{% endblock %}
{% block page-content %}

    <div class="text-center top-spacer">
        <h3>Password Reset Sent</h3>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>

{% endblock %}
