<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Confirmation of password reset
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Password{% endblock %}{% endblock %}
{% block page-content %}

    <div class="text-center top-spacer">
        <h3>Password Reset Complete</h3>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <p><a href="{% url 'login' %}">Log in</a></p>
    </div>

{% endblock %}
