<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Confirmation of password change
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Password Changed{% endblock %}{% endblock %}
{% block page-content %}

    <div class="text-center top-spacer">
        <p>Your password was successfully changed.</p>
    </div>

{% endblock %}
