<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Confirmation of email address update
----------------------------------------------------------------------------------------------------------------------->

{% extends 'base_narrow.html' %}
{% block pagetitle %}{% block pageheader %}Email Updated{% endblock %}{% endblock %}
{% block page-content %}

    <div class="text-center top-spacer">
        <p>Your email address has been updated.</p>
    </div>

{% endblock %}
