<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Steven Thompson
    Description: Registration step 3 - credit card
----------------------------------------------------------------------------------------------------------------------->

{% extends 'registration/register_base.html' %}

{% block regform %}
    {% load crispy_forms_tags %}
    <form class="validated-form" id="msform" method="post" action="">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active text-center">Account Information</li>
            <li class="active text-center">Address</li>
            <li class="active text-center">Payment Info</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title text-center">Payment Information</h2>
            <h3 class="fs-subtitle text-center">Please provide your billing information</h3>
            {% crispy credit_card_form %}
            <div class="controls text-center">
                <a class="btn btn-link" href="{% url 'register_cancel' %}">Cancel</a>
                <a name="previous" class="btn btn-default" href="{% url 'register_address' %}">Previous</a>
                <button type="submit" name="next" class="btn btn-primary load-after-click">Finish</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
