<!---------------------------------------------------------------------------------------------------------------------
    Author(s): Huon Imberger
    Description: Re-usable table header row for booking table
----------------------------------------------------------------------------------------------------------------------->

<tr class="hidden-xs">
    <th>ID</th>
    <th>Vehicle</th>
    <th>Start</th>
    <th>End</th>
    <th>Status</th>
</tr>
<tr class="visible-xs">
    <th>ID</th>
    <th>Vehicle</th>
    <th>Start Date</th>
    <th>Status</th>
</tr>
