.intro {
    margin-bottom: 30px;
    margin-top: 20px;
}

.steps {
    background-color: #eaf8ff;
    margin-bottom: 3px;
    transition-duration:0.8s;
}

.steps:hover {
    background-color: #C4EBFC;
    transition-duration:0.8s;
}

.downarrow {
    width:40px;
    margin: 10px;
}

.stepimage {
    padding:10px;
    width:140px;
}

@media only screen and (max-width: 767px) {

    .row {
        text-align: center;
    }

}
